.main {
  display: flex;
  padding-top: 1%;
  justify-content: space-evenly;
}

.header {
  padding-top: 0.75%;
  padding-right: 1%;
  text-align: right;
  position: fixed;
  top: 0;
  right: 0;
  line-height: 56%;
  font-size: 11px;
}


.left.nes-container {
  padding-top: 15%;
  justify-content: space-evenly;
}

.right.nes-container {
  padding-top: 15%;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  padding-bottom: 1%;
}
